@page "/services"
@inject IJSRuntime JsRuntime

<PageTitle>Services</PageTitle>

<section class="services" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center">
                    <h2>Our Services</h2>
                    <p>
                        At MS Estates, we pride ourselves on delivering a comprehensive suite of
                        real estate services tailored to meet the diverse needs of our clients. Whether
                        you are looking to buy, sell, or rent property in Phuket, our dedicated team is here
                        to provide you with expert guidance and personalized solutions. Our range of services includes:
                    </p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>
        <div class="row no-gutters">

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-copy-outline"></i>
                    </div>
                    <h3>Property Sales</h3>
                    <p>
                        Explore a curated selection of residential and commercial properties across Phuket.
                        <br/>Benefit from our in-depth market knowledge to make informed investment decisions.
                        <br/>Experience a seamless sales process with our professional guidance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-alarm-outline"></i>
                    </div>
                    <h3>Property Rentals</h3>
                    <p>
                        Find the perfect rental property for your short-term or long-term stay in Phuket.
                        <br/>Access a variety of rental options, from beachfront villas to modern apartments.
                        <br/>Enjoy hassle-free leasing processes with our experienced team.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-book-outline"></i>
                    </div>
                    <h3>Investment Consultation</h3>
                    <p>
                        Consult with our experts for strategic investment advice tailored to the Phuket market.
                        <br/>Discover lucrative opportunities and potential growth areas in the local real estate landscape.
                        <br/>Maximize your returns with our insightful investment guidance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-briefcase-outline"></i>
                    </div>
                    <h3>Property Management</h3>
                    <p>
                        Entrust the management of your property to our dedicated team.
                        <br/>Ensure your investment is well-maintained, and rental properties are efficiently managed.
                        <br/>Experience peace of mind with our professional property management services.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-crop"></i>
                    </div>
                    <h3>Legal Assistance</h3>
                    <p>
                        Navigate the legal aspects of real estate transactions with confidence.
                        <br/>Benefit from our network of legal experts to ensure a smooth and secure process.
                        <br/>Understand the legal requirements associated with property transactions in Phuket.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-home-outline"></i>
                    </div>
                    <h3>Customized Solutions</h3>
                    <p>
                        Enjoy personalized service that caters to your unique real estate needs.
                        <br/>Tailor-made solutions for clients with specific preferences, goals, and requirements.
                        <br/>Experience a client-centric approach that goes beyond expectations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    protected override void OnInitialized()
    {
        JsRuntime.InvokeVoidAsync("scrollToTop");
    }
}