@page "/facebook-post/{Id}"
@using BlazorMSEstatesUIAdmin.Models
@inject HttpClient Http
@inject IDialogService DialogService

<PageTitle>Facebook Post</PageTitle>

<FluentHeader Style="margin: 0 0 15px 0">Facebook Post</FluentHeader>

<FluentGrid>
    <FluentGridItem xs="12" sm="4">
        <FaceBookTemplatesList
            @bind-SelectedTemplate:get="_selectedTemplate"
            @bind-SelectedTemplate:set="OnTemplateSet">
        </FaceBookTemplatesList>
        <p></p>
        <PreviousPostsList
            Id="@Id"
            @bind-SelectedPost:get="_selectedPost"
            @bind-SelectedPost:set="OnPostSet">
        </PreviousPostsList>
    </FluentGridItem>

    <FluentGridItem xs="12" sm="8">
        @if (_filledTemplate != null)
        {
            <FluentTextArea Style="width: 100%" Rows="24" Resize="TextAreaResize.Vertical"
                            @bind-Value="@_filledTemplate.Template">
            </FluentTextArea>
            <p/>
            <FluentButton Style="width: 100%" Appearance="Appearance.Accent" OnClick=" PostToFacebookPage">Post to FB</FluentButton>
            <FluentButton Style="width: 100%" Appearance="Appearance.Accent" OnClick="PostToMarketPlace">Post to Marketplace</FluentButton>
        }
    </FluentGridItem>
</FluentGrid>

@code
{
    [Parameter] public string? Id { get; set; }
    private FacebookTemplateModel? _selectedTemplate;
    private FacebookTemplateModel? _filledTemplate;
    private FacebookTemplateModel? _selectedPost;

    private readonly DialogParameters _parameters = new()
    {
        Title = "Info!",
        Width = "500px",
        Height = "200px",
        TrapFocus = true,
        Modal = true,
        PreventScroll = true
    };

    private async Task OnTemplateSet(FacebookTemplateModel template)
    {
        _selectedTemplate = template;
        if (_selectedTemplate != null)
        {
            try
            {
                _filledTemplate = await Http.GetFromJsonAsync<FacebookTemplateModel>($"api/FacebookTemplates/GetFilledTemplate/{_selectedTemplate.Id}/{Id}");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                throw;
            }
        }
    }

    private void OnPostSet(FacebookTemplateModel post)
    {
        _selectedPost = post;
        if (_selectedPost != null)
            _filledTemplate = post;
    }


    private async Task PostToFacebookPage()
    {
        await DialogService.ShowDialogAsync<ConfirmDialog>("Listing will be posted", _parameters);
        var post = new FacebookPostModel
        {
            Template = _filledTemplate,
            ListingId = Id
        };
        try
        {
            await Http.PostAsJsonAsync("api/FacebookPosts/CreateFacebookPost", post);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private async Task PostToMarketPlace()
    {
        await DialogService.ShowDialogAsync<ConfirmDialog>("Listing will be posted", _parameters);
        _filledTemplate.ListingId = Id;
        var post = new FacebookPostModel
        {
            Template = _filledTemplate,
            ListingId = Id
        };
        try
        {
            await Http.PostAsJsonAsync("api/FacebookTemplates/UpdatePostedTemplate", _filledTemplate);
            await Http.PostAsJsonAsync("api/FacebookPosts/CreateMarketPlacePost", post);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}